BasedOnStyle: LLVM        # Base style
IndentWidth: 4            # 4 spaces per indentation level
TabWidth: 4
UseTab: Never             # Use spaces, not tabs
BreakBeforeBraces: Allman # Brace style
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 90 # Allow two windows side-by-side
ConstructorInitializerAllOnOneLineOrOnePerLine: true
PointerAlignment: Left # The pointer is a type
SpacesBeforeTrailingComments: 2
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
SortIncludes: true
IncludeBlocks: Preserve
DerivePointerAlignment: false
