# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
IHM
PianoTrainerMDJV1

# Debug information & Log files
*.dwo
log*.txt

# Generated build files
build/
Makefile*
moc_*
release/
result

# Environment & Editors
.direnv/
.qmake.stash
.cache/
.vscode
.helix
diagrams/
